body, input {
	background: linear-gradient(180deg, hsl(323, 100%, 23%), hsl(204, 100%, 20%));
	color: white;
	text-shadow: 2px 2px 4px black;
	font-size: 2em;
	font-family: Helvetica;
	text-align: center;
}
textarea {
	font-family: Helvetica;
	width: 64%;
	height: 64px;
	border-radius: 10px;
    position: relative;
	top: 16px;
}
input, button {
	font-size: 1em;
	margin: 5px 0;
}
input {
	width: 11rem;
	background: hsla(0, 0%, 0%, 0.5);
	border: 1px solid aqua;
	border-radius: 20px;
}
input[type=number] {
	width: 5rem;
}
.ctryDivs {
	height: 4em;
	background: no-repeat scroll center / contain;
}
#ranking_old {
	text-align: right;
	margin-right: 50%;
	transform: translate(200px);
}
#myMenu {
	float: left;
}
#ranking span:nth-child(3), #no1 {
	color: hsl(45, 100%, 53%);
}
#ranking span:nth-child(5) {
	color: hsl(0, 0%, 83%);
}
#ranking span:nth-child(7) {
	color: hsl(27, 60%, 50%);
}
#ranking span:nth-child(even) {
	color: lightcoral;
}
.tickBtns {
	border-radius: 10px;
	font-size: 3rem;
	touch-action: manipulation;
}
p.inticks {
	margin: 0;
}
.minus {
	background-color: hsla(0, 100%, 50%, 0.25);
}
.plus {
	background-color: hsla(120, 100%, 50%, 0.25)
}
.warnung {
	position: fixed;
	top: 0;
	left: 0;
	background-color: darkgoldenrod;
	padding: 10px;
	z-index: 9999;
	width: 100%;
	text-align: center;
}
.swal2-input-modified {
	margin: 10px auto !important;
}
.swal2-html-container, .swal2-footer {
	color: white !important;
}
.swal2-validation-message {
	color: white !important;
	background-color: darkred !important;
}
sup {
	font-size: 0.7em;
}
#btnRank, #btnTop10 {
	display: none;
}

.dropbtn, select {
	background-color: darkgreen;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
.dropbtn:hover, .dropbtn:focus {
	background-color: #3e8e41;
}
  
#myCountry, select {
	box-sizing: border-box;
	background-position: 14px 12px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 14px 20px 12px 45px;
	border: none;
	border-bottom: 1px solid #ddd;
}
  
#myCountry:focus {outline: 3px solid #ddd;}
  
.dropdown {
	position: relative;
	display: inline-block;
}
  
.dropdown-content, option {
	/* display: none; */
	position: absolute;
	background-color: hsl(278, 100%, 20%);
	min-width: 230px;
	overflow: auto;
	border: 1px solid yellow;
	z-index: 1;
}
  
.dropdown-content a, option {
	color: #f6f6f6;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {background-color: darkorange;}
  
.show {display: block;}